._252by326{
    width:256px;
    height:326px;
    background: lightgray;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
header, footer{
text-align: center;
}
.thumbnail{
    width: fit-content;
}
#notification_message{
	color: red;
}